<div class="panel">
  <div class="panel-heading">Projects</div>
</div>

<div class="projects">
  <% @projects.each do |project| %>
    <div class="panel panel-info">
      <div class="panel-heading"><%= project.name %></div>
      <div class="panel-body description">
        <% if project.image_url %>
          <img class="img-responsive img-thumbnail" src="<%= project.image_url %>">
        <% end %>
        <%= project.description %>
      </div>

      <div class="panel-footer ext-link">Link: <a target="_blank" href="<%= project.url %>"><%= project.name %></a></div>
    </div>
  <% end %>

  <div class="panel panel-info footer">
    Also, all of my ongoing projects can be found on my
    <a target="_blank" href="https://github.com/wesleye2003">GitHub</a>!
</div>
